
body {
    background-color: #fafafa;
    margin: 20px;
    font-family: Verdana, sans-serif;
}


h3 {
    color: darkgreen;
    text-align: left;
}

ul {
    list-style-type: square;
    color: #444;
}

.content {
    line-height: 1.6;
}

#schedule {
    background-image: linear-gradient(to right, #0f2027, #203a43);
}
